@use "../breakpoints.scss" as breakpoints;

.hover {
  transition: var(--transition-micro-medium);

  &:hover {
    transform: translateX(var(--static-space-8));
  }
}

@media (max-width: breakpoints.$s) {
  .mobile {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
