:global([data-theme="dark"]) .glass {
  backdrop-filter: blur(0.75rem) !important;
  background-color: rgba(8, 8, 8, 0.3) !important;
  transition: background-color 0.2s ease;
}

:global([data-theme="light"]) .glass {
  backdrop-filter: blur(0.75rem) !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
  transition: background-color 0.2s ease;
}

.header {
  animation: slide 1.2s ease-out;
}

@keyframes slide {
  0% { transform: translateY(-250%); }
  100% { transform: translateY(0); }
}
