.outline {
  -webkit-tap-highlight-color: transparent;

  &:focus, 
  &:focus-visible,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }

  &:hover {
    border-color: transparent !important;
    background: transparent !important;
  }
}
